//resets, variables, mixins, utility classes

$lightGreen: #c5d5cb;
$mediumGreen:#9fa8a3;
$khaki:#e3e0cf;
$white: #fff;

$aboutPageFont:  'Solway', serif;

$heading: 36px;

$listItems: 24px;


#container h2{
    font-family: $aboutPageFont;
    font-size: $heading;
    color: $mediumGreen;
}

#container__ul li{
    font-family: $aboutPageFont;
    list-style-type: none;
    font-size: $listItems;
}

#container{
    background-color: $lightGreen; 
  }

