//resets, variables, mixins, utility classes

$lightGreen: #c5d5cb;
$mediumGreen:#9fa8a3;
$khaki:#e3e0cf;
$white: #fff;

$aboutPageFont:  'Solway', serif;

$heading: 36px;

$routerLinks: 24px;




#container h2{
    font-family: $aboutPageFont;
    font-size: $heading;
    color: $mediumGreen;
}

#container .routerlink1, .routerlink2, .routerlink3{
    font-family: $aboutPageFont;
    list-style-type: none;
    font-size: $routerLinks;
}

#container{
    background-color: $lightGreen; 
  }

