//resusables: buttons, navbars, cards

//navbar

div #container h2{
    grid-column:3/4;
}

div #container{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows:repeat(2,1fr);
    align-items: center;
    text-align: center;
    height: 100px;
    justify-content: space-around;
}

#container__ul li a{
    text-decoration: none;
    color: $white;
}

ul#container__ul 
    li#container--one{
  
}

li#container--two .routerlink{
    grid-column:2/3;
    grid-row:2/3;
}

#container--three{

}

#container li:hover,
#container li.router-link-active,
#container li.router-link-exact-active {
   background-color: $khaki;
   cursor: pointer;
   width: auto;
 }