//resusables: buttons, navbars, cards

//navbar

div#container .routerlink1 {
    grid-column:2/3;
    text-decoration: none;
    color: $white;
}


div#container .routerlink2{
    text-decoration: none;
    color: $white;
}


div#container .routerlink3{
    text-decoration: none;
    color: $white;
}

div #container h2{
    grid-column:3/4;
}

div #container{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows:repeat(2,1fr);
    align-items: center;
    text-align: center;
    height: 100px;
    justify-content: space-around;
}

#container__ul li a {
    text-decoration: none;
    color: $white;
}

#container__ul li a .router-link-active{
    grid-column: 2/3;
    grid-row: 2/3;
}

ul#container__ul {
      grid-column: 2/3;
      grid-row: 2/3;
} 


div#container router-link:hover,
div#container router-link-active,
div#container router-link-exact-active {
   background-color: $khaki;
   cursor: pointer;
 }