
//Mixins
$bannerHeading:24px;
$bannerSubHeading:16px;
$backgroundImage:"https://via.placeholder.com/1500.png/09f/fff";

$bannerFont: 'Gupter', serif;

//About Page Description
@mixin paper{
    color: $khaki;
    h3{
        font-size: $bannerSubHeading;
        font-family: $bannerFont;
    }
    .md-content{
        width: 200px;
        height: 200px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

#contentContainer{
    @include paper;
    display: flex;
}

//Banner on About Page
@mixin banner{
    width:100%;
    color:white;
    img{
        width:100%;
    }
 
    p{
        text-transform: uppercase;
        font-weight: bold;
        font-family:$bannerFont;
        font-weight: normal;
    }
     p.title{
        text-transform: uppercase;
        font-weight: bold;
        font-family:$bannerFont;
        font-weight: normal;
        margin-bottom:30px;
        font-size: $bannerHeading;
    }
    p.sub-title{
        font-size:$bannerSubHeading;
    }
    .banner-content{
        grid-column: 2/-1;
        margin-top:20%;

    }
}
    #bannerContainer{
        @include banner;
        display:grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        width:100%;
        height:1500px;
        background-image: url($backgroundImage);
    }
   
