#container h2 {
  font-family: "Solway", serif;
  font-size: 36px;
  color: #9fa8a3; }

#container .routerlink1, .routerlink2, .routerlink3 {
  font-family: "Solway", serif;
  list-style-type: none;
  font-size: 24px; }

#container {
  background-color: #c5d5cb; }

div#container .routerlink1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-decoration: none;
  color: #fff; }

div#container .routerlink2 {
  text-decoration: none;
  color: #fff; }

div#container .routerlink3 {
  text-decoration: none;
  color: #fff; }

div #container h2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4; }

div #container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100px;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

#container__ul li a {
  text-decoration: none;
  color: #fff; }

#container__ul li a .router-link-active {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3; }

ul#container__ul {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3; }

div#container router-link:hover,
div#container router-link-active,
div#container router-link-exact-active {
  background-color: #e3e0cf;
  cursor: pointer; }
